.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.card-registration .style{
  padding-left: .25em;
  padding-right: .25em; 
}

.socialMediaButtons {
  padding: 10px 100px 10px 0px;
}